<div class="menu container">
  <div class="form-group">
    <label for="height">Height:</label>
    <input type="number" name="height" #height value="15">
  </div>
  <div class="form-group">
    <label for="width">Width:</label>
    <input type="number" name="width" #width value="15">
  </div>
  <div class="form-group">
    <label for="bombs">Bombs:</label>
    <input type="number" name="bombs" #bombs value="45">
  </div>
</div>
<div class="button-like" (click)="sendBoard(height.value, width.value, bombs.value)">PLAY</div>
